[Desktop Entry]
Name=Miro
GenericName=Whiteboard Tool
Comment=The visual workspace for innovation
Exec=/usr/bin/miro-launcher
Icon=miro-app
Terminal=false
Type=Application
Categories=Office;Graphics;Collaboration;
MimeType=text/html;text/xml;application/xhtml+xml;
Keywords=miro;whiteboard;collaboration;design;
StartupWMClass=com.miro.native
